html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;    
}
.nav {
    padding: 0 4em;
    background-color: #f0f0f0de;
    vertical-align: middle;
    position: fixed;
    top: -5em;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    opacity: 0;
    transition: 0.3s;
}
.nav p {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.nav .dropdown p {
    font-weight: normal;
}
.nav button {
    vertical-align: middle;
    margin: 1em;
}
.nav button:nth-child(3) {
    float: right;
    display: none;
}

.nav .dropdown-btn {
    background-color: transparent;
    color: black;
}
canvas{
    z-index:-1;
  } 
  .dropdown.dropdown-show {
    top: 0;
    opacity: 1;
  
}
.dropdown {
    width: 30vw;
    height: 80vh;
    padding: 1vw;
    background-color: #ffffff;
    position: fixed;
    top: -100vw;
    margin: 5vw;
    right: 7vw;
    opacity: 0;
    z-index: 200;
    border-radius: 2vw;
    transition: 0.5s;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.411);

}

.dropdown div {
    padding: 2vw;
    
}
.dropdown img {
    border-radius: 1vw;
}
.dropdown hr {
    margin: 1vh auto;
}
.dropdown h3, .dropdown p {
    margin: 1vh;
}
.dropdown p {
    font-size: inherit;
}
.dropdown .int-btn {
    display: block;
}
.dropdown .close {
    top: 3vw;
    right: 3vw;
    left: unset;
    position: absolute;
    display: none;
}
.nav-btn-grp {
    float: right;
}
.rotate {
    transform: rotate(180deg);
}
.cover {
    width: 100%;
    margin: 0;
    padding: 10vw;
    padding-bottom: 15vw;
    background-image: url('bg-pattern.png');
    background-size: 30%;
    background-color: #180328;
    background-attachment: fixed;
    box-sizing: border-box;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.cov-header {
    font-size: 5vw;
    margin: 0;
    align-content: center;
}
.scr-tip {
    text-align: right;
    display: none;
}
.cover img {
    position: absolute;
}

.cover img:nth-child(2) {
    top: 30vh;
}
.cover p {font-size: 2vw;}

.intro {
    position: relative;
    top: -5em;
    margin: 0 auto;
}
.intro h4, .info-box h4 {
    letter-spacing: 0.3em;
}
.intro p, .main p {
    line-height: 2em;
}
.intro h4, .info-box h4 {
    text-align: center;

}
.intro, .info-box {
    width: 70vw;
    border-radius: 2vw;
    padding: 2vw 5vw;
    background-color: #dbdbdb;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.411);
}
.info-box {
    margin: 4em auto;
}

.float-btn {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

.close {
    padding: 0.5em 0.8em;
    background-color: burlywood;
    color: white;
    border-radius: 0.5em;
    position: fixed;
    left: -5em;
    top: 1em;
    border: 0;
    transition: 0.3s;
}
.btn-grp {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.solid {
    display: block;
}
.int-btn, .float-btn, .close {
    background-image: linear-gradient(-45deg, #e22047 0%, #ff6347 100%);
}
.int-btn, .dropdown-btn, .dropdown .int-btn {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    padding: 1em;
    flex: auto;
    margin: 0.5em 0.3em 0 0.3em;
    font-weight: bold;
    border-radius: 1vw;
    border: 0;
    font-family: inherit;
    background-color: chocolate;
    transition: 0.3s;
}

.int-btn:hover, .float-btn:hover, .close:hover{
    transition: 0.2s;
    box-shadow: 2px 2px 15px #e22047 ;
}
hr {
    width: 10%;
    height: 2px;
    display: block;
    border-width: 0;
    background-color: #a48865;
    margin-bottom: 2em;
}
.main img {
    border-radius: 1.5em;
    width: 100%;
    margin-top: 2em;
}
.img-grp {
    border-radius: 0;
}

.main p img, .img-grp img, .img-grp, .thumb {
    width: 30%;
    float: right;
    border-radius: 1em;
    margin-top: 0;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}
.main .img-grp img {
    width: 100%;
    margin-bottom: 0.2em;
}
.main {
    width: 70vw;
    margin: 0 auto;
    padding: 2vw 5vw;   
}
.img-caption, .img-grp .img-caption, .tab-caption {
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 1.5em;
    line-height: 1.4em;
}
.img-grp .img-caption {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 1.3em;
}
.t-head {
    text-align: center;
}
.main h2, .main h3 {
    font-family: 'DM Serif Display', serif;
    clear: both;
}

.main h2:first-child{
    margin-top: 0;
}
.main h2 {
    font-size: 2.5em;
    text-align: center;
    line-height: 1em;
    margin-top: 2.5em;
}
.main h3 {
    font-size: 1.8em;
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.main ol {
    padding-left: 1.5em;
}
.main ol li, .info-box ol li, .main ul li{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.6em;
    line-height: 2em;
}
.main ul {
    list-style: none;
  }

.main ul li::before {
    content: "\2B24";
    color: rgb(34, 180, 156);
    display: inline-block; 
    width: 2vw;
    margin-top: 0;
    margin-left: -1em;
  }
  .main ul li:first-child::before {
    color: rgb(236, 48, 48);
  }
  .main ul li:nth-child(2)::before {
    color: rgb(104, 41, 206);
  }
.main table {
    width: 100%; 
}

.main table tr:nth-child(odd) {
    background-color: #e1e1e1;
}

.main table tr:first-child td, .cm-table tr:nth-child(2) td{
    background-color: #b3b3b3;
    padding: 0.7em;
    text-align: center;
}
.main table tr td {
    padding: 0.5em;
}
.main table tr{
    transition: 0.5s;
}
.main table tr:hover:not(:first-child){
    background-color: #ffd9d4;
    transition: 0.3s;
}
.sticky-btn {
    position: fixed;
    bottom: -10em;
    box-sizing: border-box;
    width: 100%;
    display: none;
    padding: 2vw 4vw;
    background-color: #f0f0f0de;
    transition: 0.3s;
}
.sticky-btn .int-btn{
    margin: 0;
}

.sticky-btn .int-btn:nth-child(2) {
    float: right;
    max-width: max-content;
    margin-left: 0.8em;
}

.cont-table {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 20;
    overflow-y: auto;
    scrollbar-width: none;
    transition: 0.3s;
    width: 30em;
    opacity: 0;
    padding: 0 2em;
    background-color: #f0f0f0;
    left: -100vw;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.411);
}
.sidebar-show {
    left: 0;
    opacity: 1;
}

body a{
    text-decoration: none;
    color: black;
}
.table-menu {
    border-left: 0.4em solid #aeaeae;
    padding: 2em 0 2em 2em;
    display: block;   
}
.table-menu .close:nth-child(2) {
    display: none;
}
.cont-table h2, .cont-table h3 {
    font-family: inherit;
}
.cont-table h2, .cont-table h3, .cont-table h4 {
    margin: 0;
    margin-bottom: 1.3em;
}

.bullet {
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.6em;
    position: absolute;
    left: 0.85em;
    background-color: #646363;
    margin-top: 0.3em;

}
h3 .bullet {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    left: 1.37em;
    margin-top: 0.2em;
}
.main h4{
    margin-top: 2.5em;
}
h4 .bullet {
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.4em;
    left: 1.75em;
    margin-top: 0.2em;
}
.float-btn{
    position: fixed;
    bottom: 1em;
    right: -3.5em;
    transition: 0.3s;
    padding: 1em;
    border-radius: 0.5em;
    border: 0;
    width: max-content;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.211);
    overflow: hidden;   
}
.float-btn .label {
    opacity: 0;
    max-width: 0;
    display: inline-block;
    transition: 0.3s;
    white-space: nowrap;

}
.float-btn:hover .label {
    opacity: 1;
    max-width: 150px;
    margin-right: 1em;
}
.icon-tc {
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
}
.ic-list {
    background-image: url("table.png");
}

.ic-up-arr {
    background-image: url("up-arrow.png");
}
.ic-up-arr-w {
    background-image: url("up-arrow-w.png");
}
.ic-down-arr {
    transition: 0.3s;
    background-image: url("down-arrow.png");
}
.ic-list-w {
    background-image: url("table-w.png");
}
.ic-menu-w {
    background-image: url("menu-w.png");
}
.ic-close-w {
    background-image: url("close-w.png");
}
.ic-right-arr {
    background-image: url("right-arrow-b.png");
}

.ic-down-arr-w {
    background-image: url("down-arr-w.png");
}
.ic-right-arr {
    background-image: url("right-arrow.png");
}
.info-box ol li {
    margin-bottom: 1.5em;
}
.card {
    display: grid;
    grid-template-columns: 30% 70%;
}
.card div:nth-child(2) {
    margin-left: 1.5em;
}

.card h3 {
    margin-top: 2.5vw;
}
.card .int-btn {
    margin: 0;
}
.box-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
.name-grp p:not(.topic), .name-grp h5 {
    line-height: 0;
}
.name-grp p {
    margin-top: 3em;
}
.box-grid div, .name-grp div:nth-child(4) {
    padding: 1vw 4vw;
}

.box-grid div:first-child {
    border-right: 2px solid #000000;
}

.name-grp div:nth-child(4) {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.name-grp div:nth-child(4) h5{
    margin-bottom: 1em;
}
.footer {
    padding: 1em 4em;
    background-color: #180328;
    text-align: center;
    color: white;
}
.cont-table .c-btn-show {
    left: 34vw;
    opacity: 1;
}
.x-btn-show {
    left: 73vw;
    opacity: 1;
}
.footer a{
    color: #b369ec;
}
.footer a:hover, .info-box ol li a:hover {
    text-decoration: underline;
}

:target::before {
    content: "";
    display: block;
    height: 30vh;
    margin: -30vh 0 0; 
  }
    
@media screen and (max-width : 1050px)
{   
    body {
        overflow-x: hidden;
    }

    .cover {
        padding-top: 20vw;
    }
    .cover img:nth-child(2) {
        top: 20vh;
    }

    .main h2 {
        font-size: 2.9em;
    }
    .intro {
        padding-bottom: 5vw;
        width: 80vw;
        top: -15vw;
    }
    .info-box{
        width: 80vw;
    }
    .int-btn:hover, .float-btn, .close {
       cursor: pointer;
    }
    .int-btn:hover{
        box-shadow: none;
    }
    .cont-table {
        width: 75vw;
    }
    .table-menu {
        height: 290vh;
    }
    ol {
        margin-left: 1vw;
    }
    .nav .dropdown h3 {
        margin-left: 0;
        font-size: 3em;
    }
    .nav .dropdown p {
        margin-bottom: 1.5vw;
    }
    .dropdown hr {
        width: 30%;
    }
    .dropdown img {
        border-radius: 2vw;
    }
    .cover p, .intro p, .nav .dropdown p, .main p, ol li, table tr td, .name-grp p, .info-box ol li a, .main ul li, .footer p{
        font-size: 32px;
        max-height: 999999px;
    }
    .main ul li::before {
        padding-right: 4vw;
    }
    .dropdown {
        border-radius: 0;
        width: 100vw;
        right: 0;
        top: -100vh;
        margin: 0;
        height: 100vh;
        padding: 2vw;
        box-sizing: border-box;
        box-shadow: none;
    }
    .table-menu {
        height: 230%;
    }
    .intro .btn-grp {
        display: contents;
    }
    .intro .int-btn {
        width: 100%;
        border-radius: 2vw;
        margin-left: 0; 
    }
    .info-box ol li a, .main ol li ol li{
        font-size: 1em;
    }
    button, a, .tab-caption, .img-caption, .img-grp .img-caption, .name-grp h5 {
        font-size: 28.8px;
        max-height:999999px;
    }
    .main h3 {
        font-size: 2.3em;
    }
    .main h4, .intro h4, .info-box h4 {
        font-size: 2em;
    }
    .table-menu h1, .table-menu h2, .table-menu h3, .table-menu h4 {
        margin-bottom: 4.5vw;
    }
    .table-menu .close:nth-child(2) {
        padding: 1vw;
    }
    
    .float-btn, .nav .nav-btn-grp, .table-menu .close:first-child {
        display: none;
    }
    .nav {
        padding: 2.5vw 4vw;
    }
    .nav p {
        font-size: 4.5vw;
        line-height: 4vw;
        width: 60%;
        margin: 0;
    }
    .nav button:nth-child(3), .nav .dropdown button {
        display: block;
        margin: 0;
        padding: 2vw;
    } 
    .cover {
        padding-bottom: 30vw;
    }
    .main {
        width: 90vw;
    }
    .btn-grp {
        display: grid;
    }
    .sticky-btn {
        display: flex;
    }
    .card, .box-grid, .scr-tip, .table-menu .close:nth-child(2), .dropdown .close{
        display: block;
    }
    .box-grid div {
        margin: 0;
        }
    .box-grid div:first-child {
            border-right: none;
        }
    .name-grp div:nth-child(4) {
            width: auto;
        }
    .main p img, .img-grp img, .img-grp {
            float: none;
            width: 100%;
            margin: 0;
            padding: 0;
            border-radius: 3vw;
            }
    .footer {
        padding-bottom: 18vw;
    }

    :target::before {
        height: 30vh;
        margin: -30vh 0 0; 
      }
}
